jour1-front/node_modules
jour1-front/redux/node_modules
documentation
jour2/node_modules

#https://github.com/webdevproformation/react-projet-greta-dec2021

# via Redux !!! partager des informations entre composants 
#15h55 @ toute suite !! bon café !!! 